name: amray
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  qr_flutter: ^4.1.0
  mobile_scanner: ^5.2.3
  uuid: ^4.4.0
  shared_preferences: ^2.2.3
  permission_handler: ^11.3.1
  image_picker: ^1.1.2
  translator: ^1.0.4+1
  mqtt_client: ^10.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
